* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
}

header {
    display: flex;
    background-color: #2c2c2c;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
    font-family:'MontSerrat'
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.calcular {
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 0.4rem;
    font-size: 13px;
}

.info {
    border-radius: 1rem;
    padding: 0.5rem;
}

#erro {
    text-align: center;
    color: #ff0000;
    margin-top: 2rem;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#resultado {
    text-align: center;
    color: #000000;
    margin-top: 2rem;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario_valor {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.inicio {
    display: flex;
    justify-content: center;
}

.botao {
    text-decoration: none;
    color: #ffffff;
    background-color: #2c2c2c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 5rem;
    font-size: 20px;
}

.valores {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    display: flex;
    background-color: #2c2c2c;
    justify-content: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#github {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}