* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
}

header {
    display: flex;
    background-color: #2c2c2c;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.inicio {
    display: flex;
    justify-content: center;
}

.botao {
    text-decoration: none;
    color: #ffffff;
    background-color: #2c2c2c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 5rem;
    font-size: 20px;
}

footer {
    display: flex;
    background-color: #2c2c2c;
    justify-content: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#github {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}